dist: xenial
services:
- xvfb
language: python
cache: pip
python:
- '3.8'
before_install:
  - sudo apt-get install libsdl2-mixer-2.0-0 libsdl2-image-2.0-0 libsdl2-2.0-0
install:
  - pip install -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-16.04
    wxPython==4.1.0
  - pip install coveralls
  - pip install -r requirements.txt
script:
  - coverage run --source=asn1editor -m unittest discover
after_success:
  - coveralls
deploy:
  provider: pypi
  username: __token__
  password:
    secure: mFGZvmK8MZrRfRy9Y8URcH17p0yax7NUFr59v/sHkhZZui5TM/XyXGHXh1y4tQJJ7A7R8/+qqY6bmHWSQHBz8Al+iLIbM4e0svxoP/2VWHCm95U+BVJcT+icLKW0aNmpD14ri8Mml5kiaPBHuXixM9XHVXPnQfn7fX84yYzJJoMB6Jb4wPkrOkY9s0jtbGHlUbAxWamwr18NV2rKhq8TY/LMyJ1LOC3ZzuO0S6PmA9ZFaYOYSa8pBEelfiZoRtY5RkgwcnFNZ0rj3M+nh9C6iARwEo8hmqg1Y/l83RcYmNKTUNUH+APJMQPGVp65f8GZifwU09U0vUBJHAfG4RJMRp5RBjQ3BKBRvdsxMI6KnqtYATcts7bv33Mg9V4/O9/L5i/oz0xgLMpsSn4+iFxsPaCotMworHeXEVH8dJA0UFkOOgDRBBbwttdGeXw3u2+8oJqPoobvhjbJZZajaK7p4M2Fec2KtM+xYVxLPfVu3S1nR+XeqlOsJFUy794shC1IqV1VGwFjHU6+RQ5Np51XVXM0X7E7mlaluby3Gi7xrkrxOITTQo8ZeV02m0s1Xgb8VndktJ2jZHU91Upnx/dxvyT60JTkzvBzLRXGJpaZFQWof8VNxpkDzbyEtSOKyzk/02ftLaKVeDA7m42nKCEJgyfA+y84EHss1lKhpgxgiM8=
  on:
    tags: true
